<h1 class="text-uppercase"><span class="glyphicon glyphicon-pencil"> Edit user profile</h1>
<form class="user-form" action="/users/edit/<%= @user.id %>" method="post">
  <label for="first_name">
    First Name: <input type="text" name="first_name" id="first_name" class="form-control" value="<%= @user.first_name %>" required>
  </label>
  <label for="last_name">
    Last Name: <input type="text" name="last_name" id="last_name" class="form-control" value="<%= @user.last_name %>" required>
  </label><br>
  <label for="email">
    Email: <input type="text" name="email" id="email" class="form-control" value="<%= @user.email %>">
  </label><br>
  <label for="phone_number">
    Phone Number: <input type="text" name="phone_number" id="phone_number" class="form-control" value="<%= @user.phone_number %>">
  </label><br>
  <label for="address">
    Address: <input type="textarea" name="address" id="address" class="form-control" value="<%= @user.address %>">
  </label><br>
  
  <button class="btn btn-info" type="submit">
    Update contact
  </button>
</form>